@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../images/bg/bg.png") no-repeat;
  background-size: cover;
  color: #fff;
  transition: transform 0.5s ease; }
  .container.js-left {
    transform: translate3d(-272px, 0, 0); }
  .container.js-bottom .main-status {
    height: 0;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-delay: 0;
    animation-delay: 0; }
  .container.js-bottom .group {
    bottom: auto;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-delay: 0;
    animation-delay: 0; }

.setting {
  background: #000; }
  .setting .item {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    padding-left: 60px;
    border-bottom: #323233 1px solid; }
    .setting .item.sound {
      background: url("../images/setting/sound.svg") no-repeat left 15px center; }
    .setting .item.push {
      background: url("../images/setting/push.svg") no-repeat left 15px center; }
    .setting .item.timing {
      background: url("../images/setting/timing.svg") no-repeat left 15px center; }
    .setting .item.device {
      background: url("../images/setting/device.svg") no-repeat left 15px center; }
    .setting .item.import-export {
      background: url("../images/setting/import-export.svg") no-repeat left 15px center; }
    .setting .item.unit {
      background: url("../images/setting/unit.svg") no-repeat left 15px center; }
    .setting .item.all-on-off {
      background: url("../images/setting/all-on-off.svg") no-repeat left 15px center; }
    .setting .item.help {
      background: url("../images/setting/help.svg") no-repeat left 15px center; }

.bottom-container {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  color: #fff;
  transition: transform 0.5s ease; }
  .bottom-container.--js-active {
    transform: translate3d(0, -100%, 0); }

.right-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 272px;
  height: 100vh;
  background: #000;
  color: #fff;
  overflow: scroll;
  transition: transform 0.5s ease; }
  .right-container.--js-active {
    transform: translate3d(-100%, 0, 0); }

html, body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  background: #000;
  overflow: hidden; }

.temperature-unit {
  display: inline-block;
  width: .5em; }

.bottom {
  margin-bottom: .75em; }

.bottom__item {
  margin-bottom: 12px;
  position: relative;
  padding: 12px 28px;
  background: rgba(0, 0, 0, 0.38); }
  .bottom__item .data img {
    margin: 18px 0; }
  .bottom__item .item__switch {
    top: 14px; }

.bottom__item__span {
  margin-bottom: 18px;
  display: block;
  font-size: 1.25em; }

.group {
  position: absolute;
  left: 0;
  bottom: .75em;
  width: 100%;
  overflow: hidden; }
  .group .group__name {
    margin: 0 auto;
    max-width: 325px;
    overflow: hidden; }
    .group .group__name span {
      position: relative;
      display: inline-block;
      font-size: 1.25em; }
      .group .group__name span:after {
        content: "";
        position: absolute;
        top: .5em;
        left: 100%;
        left: calc(100% + 12px);
        display: inline-block;
        width: 325px;
        height: 1px;
        background: #fff; }
  .group .group__data {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 325px; }
    .group .group__data div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 33.33333%;
      background: url("../images/group-item-bg.svg") no-repeat center;
      background-origin: content-box;
      background-size: contain; }
    .group .group__data .pm25:after {
      content: "pm2.5"; }
    .group .group__data .co2:after {
      content: "CO2"; }
    .group .group__data .gas:after {
      content: "GAS"; }
    .group .group__data .humidity:after {
      content: "室內濕度"; }
    .group .group__data .filter:after {
      content: "濾網"; }

.index-header {
  position: relative; }
  .index-header .setting-button, .index-header .menu-button {
    position: absolute;
    top: 0;
    margin: 18px;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer; }
  .index-header .setting-button {
    left: 0;
    background: url("../images/icon-setting.svg") no-repeat center; }
  .index-header .menu-button {
    right: 0;
    background: url("../images/icon-menu.svg") no-repeat center; }
  .index-header .center {
    padding: 18px;
    font-size: 1.5em;
    text-align: center; }
  .index-header .time {
    margin-bottom: 36px;
    font-size: 1.0625em;
    text-align: center; }

.main-status {
  display: flex;
  flex-direction: column;
  height: 107px;
  overflow: hidden;
  transition: all 0.5s ease; }
  .main-status .row {
    margin: 1em auto 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 325px; }
    .main-status .row:nth-child(1) {
      margin-top: 0; }
    .main-status .row div {
      display: inline-flex;
      align-items: center;
      flex: 1; }
    .main-status .row .temperature {
      height: 63px;
      padding-left: 70px;
      background: url("../images/icon-temperature.svg") no-repeat left;
      font-size: 3.375em; }
    .main-status .row .pm25 {
      height: 63px;
      padding-left: 70px;
      background: url("../images/icon-pm25.svg") no-repeat left;
      font-size: 3.375em; }
      .main-status .row .pm25 span {
        margin-top: 2em;
        font-size: .25em; }
    .main-status .row .apparent-temperature {
      flex: 2;
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-apparent-temperature.svg") no-repeat left;
      font-size: 1.25em; }
    .main-status .row .rain-probability {
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-rain-probability.svg") no-repeat left;
      font-size: 1.25em; }
      .main-status .row .rain-probability span {
        margin-top: .5em;
        font-size: .5em; }
    .main-status .row .humidity {
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-humidity.svg") no-repeat left;
      font-size: 1.25em; }
      .main-status .row .humidity span {
        margin-top: .5em;
        font-size: .5em; }

.right-menu {
  position: relative;
  width: 100%;
  padding: 0 11px;
  padding-top: 32px; }
  .right-menu .header .add-button,
  .right-menu .header .edit-button {
    position: absolute;
    top: 0;
    margin: 18px;
    width: 32px;
    height: 32px;
    cursor: pointer; }
  .right-menu .header .add-button {
    left: 0;
    background: url("../images/icon-add.svg") no-repeat center; }
  .right-menu .header .edit-button {
    right: 0;
    background: url("../images/icon-edit.svg") no-repeat center; }
  .right-menu .header .switch {
    position: absolute;
    left: 0;
    top: 21px;
    margin: 0 69px;
    width: 134px;
    height: 26px;
    padding: 0 10px;
    border-radius: 26px;
    background-color: rgba(255, 255, 255, 0.38);
    line-height: 26px;
    transition: all 0.5s; }
    .right-menu .header .switch:after {
      content: "OFF";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 72px;
      height: 100%;
      border-radius: 26px;
      background-color: #fff;
      text-align: center;
      line-height: 26px;
      color: #2D3E4F;
      transition: all 0.5s; }
    .right-menu .header .switch.on {
      background-color: #7ED321; }
      .right-menu .header .switch.on:after {
        content: "ON";
        left: 62px; }
  .right-menu .group {
    margin: 47px auto 0;
    position: relative;
    width: 100%;
    overflow: hidden; }
    .right-menu .group .group__name {
      margin: 0 auto;
      max-width: 325px;
      overflow: hidden; }
      .right-menu .group .group__name span {
        position: relative;
        display: inline-block;
        font-size: 1.25em; }
        .right-menu .group .group__name span:after {
          content: "";
          position: absolute;
          top: .5em;
          left: 100%;
          left: calc(100% + 12px);
          display: inline-block;
          width: 325px;
          height: 1px;
          background: #fff; }
    .right-menu .group .group__item {
      margin: 28px auto 24px;
      text-align: center; }
      .right-menu .group .group__item .link {
        margin-top: 6px;
        position: relative;
        padding: 9px 0;
        text-align: left; }
        .right-menu .group .group__item .link:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 32px;
          height: 32px;
          background: url("../images/icon-next.svg") no-repeat center; }

.setting-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 68px;
  border-bottom: #323233 1px solid; }
  .setting-header .back-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 18px;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("../images/icon-back.svg") no-repeat center; }
  .setting-header .center {
    font-size: 1.5em;
    text-align: center; }

.data__range {
  position: relative;
  width: 100%;
  padding-left: 76px; }
  .data__range span {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-left: 23px; }
    .data__range span:after {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 9px);
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    .data__range span.--dehumidifier:after {
      background-image: url("../images/components/icon-wet.svg");
      background-size: images-width("../images/components/icon-wet.svg") images-height("../images/components/icon-wet.svg"); }
    .data__range span.--windspeed:after {
      background-image: url("../images/components/icon-windy.svg");
      background-size: images-width("../images/components/icon-windy.svg") images-height("../images/components/icon-windy.svg"); }
  .data__range input[type="range"] {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background: none;
    background-color: rgba(0, 0, 0, 0.54);
    outline: none;
    -webkit-appearance: none; }
    .data__range input[type="range"]:focus {
      outline: 0; }
  .data__range input[type="range"]::-webkit-slider-thumb {
    position: relative;
    top: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    -webkit-appearance: none; }
  .data__range input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 4px; }

.item__switch {
  position: absolute;
  right: 0;
  top: calc(50% - 18px/2);
  margin: 0 18px;
  width: 57px;
  height: 18px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.38);
  transition: all 0.5s; }
  .item__switch:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 29px;
    height: 100%;
    border-radius: 18px;
    background-color: #fff;
    text-align: center;
    color: #2D3E4F;
    transition: all 0.5s; }
  .item__switch.--on {
    background-color: #7ED321; }
    .item__switch.--on:after {
      left: 28px; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); } }
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); } }
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

/*# sourceMappingURL=style.css.map */
