.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../images/bg/bg.png") no-repeat;
  background-size: cover;
  color: white; }

body {
  font-size: 16px;
  font-weight: lighter; }

.temperature-unit {
  display: inline-block;
  width: .5em; }

.main-status {
  display: flex;
  flex-direction: column; }
  .main-status .row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 325px; }
    .main-status .row div {
      display: inline-flex;
      align-items: center;
      flex: 1; }
    .main-status .row .temperature {
      height: 63px;
      padding-left: 70px;
      background: url("../images/icon-temperature.svg") no-repeat left;
      font-size: 3.375em; }
    .main-status .row .pm25 {
      height: 63px;
      padding-left: 70px;
      background: url("../images/icon-pm25.svg") no-repeat left;
      font-size: 3.375em; }
      .main-status .row .pm25 span {
        margin-top: 35px;
        align-self: flex-start;
        font-size: .25em; }
    .main-status .row .apparent-temperature {
      flex: 2;
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-apparent-temperature.svg") no-repeat left;
      font-size: 1.25em; }
    .main-status .row .rain-probability {
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-rain-probability.svg") no-repeat left; }
    .main-status .row .humidity {
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-humidity.svg") no-repeat left; }

.header {
  position: relative; }
  .header .left, .header .right {
    position: absolute;
    top: 0;
    margin: 18px;
    width: 32px;
    height: 32px;
    cursor: pointer; }
  .header .left {
    left: 0;
    background: url("../images/icon-setting.svg") no-repeat center;
    background-size: contain; }
  .header .right {
    right: 0;
    background: url("../images/icon-menu.svg") no-repeat center;
    background-size: contain; }
  .header .center {
    padding: 18px;
    font-size: 1.5em;
    text-align: center; }
  .header .time {
    margin-bottom: 36px;
    font-size: 1.0625em;
    text-align: center; }

.main-status {
  display: flex;
  flex-direction: column; }
  .main-status .row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 325px; }
    .main-status .row div {
      display: inline-flex;
      align-items: center;
      flex: 1; }
    .main-status .row .temperature {
      height: 63px;
      padding-left: 70px;
      background: url("../images/icon-temperature.svg") no-repeat left;
      font-size: 3.375em; }
    .main-status .row .pm25 {
      height: 63px;
      padding-left: 70px;
      background: url("../images/icon-pm25.svg") no-repeat left;
      font-size: 3.375em; }
      .main-status .row .pm25 span {
        margin-top: 35px;
        align-self: flex-start;
        font-size: .25em; }
    .main-status .row .apparent-temperature {
      flex: 2;
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-apparent-temperature.svg") no-repeat left;
      font-size: 1.25em; }
    .main-status .row .rain-probability {
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-rain-probability.svg") no-repeat left; }
    .main-status .row .humidity {
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-humidity.svg") no-repeat left; }
