$max-width: 325px;
$right-menu-width: 272px;

$default: #fff;

$default-time-function: ease;

@import "reset";
@import "layout/layout";
@import "partial/header";
@import "partial/main-status";
@import "partial/group";
@import "partial/right-menu";
@import "partial/bottom";
