$max-width: 325px;
$right-menu-width: 272px;

$default: #fff;
$right-menu-bg: #000;

$default-time-function: ease;

@import "reset";
@import "layout/layout";
@import "partial/index-header";
@import "partial/main-status";
@import "partial/group";
@import "partial/right-menu";
@import "partial/bottom";
@import "partial/setting-header";

@import "animate";
