.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../images/bg/bg.png") no-repeat;
  background-size: cover;
  color: $default;
  transition: transform .5s $default-time-function;
  &.js-left {
    transform: translate3d(-$right-menu-width, 0, 0);
  }
  &.js-bottom {
    .main-status {
      height: 0;
    }
    .group {
      bottom: auto;
    }
  }
}
.setting {
  background: $right-menu-bg;
  .item {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    padding-left: 60px;
    border-bottom: #323233 1px solid;
    &.sound {
      background: url("../images/setting/sound.svg") no-repeat left 15px center;
    }
    &.push {
      background: url("../images/setting/push.svg") no-repeat left 15px center;
    }
    &.timing {
      background: url("../images/setting/timing.svg") no-repeat left 15px center;
    }
    &.device {
      background: url("../images/setting/device.svg") no-repeat left 15px center;
    }
    &.import-export {
      background: url("../images/setting/import-export.svg") no-repeat left 15px center;
    }
    &.unit {
      background: url("../images/setting/unit.svg") no-repeat left 15px center;
    }
    &.all-on-off {
      background: url("../images/setting/all-on-off.svg") no-repeat left 15px center;
    }
    &.help {
      background: url("../images/setting/help.svg") no-repeat left 15px center;
    }
  }
}
.bottom-container {
  position: absolute;
  top: 100%;
  width: 100%;
  color: $default;
  transition: transform .5s $default-time-function;
  &.js-active {
    transform: translate3d(0, -100%, 0);
  }
}
.right-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: $right-menu-width;
  height: 100vh;
  background: $right-menu-bg;
  color: $default;
  overflow: scroll;
  transition: transform .5s $default-time-function;
  &.js-active {
    transform: translate3d(-100%, 0, 0);
  }
}
html, body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  background: $right-menu-bg;
  overflow: hidden;
}
.temperature-unit {
  display: inline-block;
  width: .5em;
}
