.bottom
  .bottom__item
    span.bottom__item__span 空氣濾淨機
    .data
      +data__range("風速", "windspeed")
      img(src="images/fake/05.png")
    +item__switch(true)
  .bottom__item
    span.bottom__item__span 除溼機
    .data
      +data__range("濕度", "dehumidifier")
      img(src="images/fake/07.png")
    +item__switch
