.bottom
  .bottom__item
    span 空氣濾淨機
    .data
      img(src="../images/fake/05.png")
    .switch
      img(src="../images/fake/04.png")
  .bottom__item
    span 除溼機
    .data
      img(src="../images/fake/07.png")
    .switch
      img(src="../images/fake/06.png")
