.main-status
  .row
    .temperature
      span 31
        span.temperature-unit °
    .pm25 87
      span ppm
  .row
    .apparent-temperature 體感溫度
      span 31
        span.temperature-unit °
    .rain-probability 60
      span %
    .humidity 70
      span %
