.right-menu
  .header
    .add-button
    .switch
      img(src="../images/fake/01.png")
    .edit-button
  .group
    .group__name
      span 目前選定群組
    .group__item
      img(src="../images/fake/02.png")
      .link 群組1
  .group
    .group__name
      span 群組列表
    .group__item
      img(src="../images/fake/03.png")
      .link 群組2
    .group__item
      img(src="../images/fake/03.png")
      .link 群組3
