extends layout/_layout

block append set
  - pageSlogan = "PgaeSlogan"

block content
  include partial/_header
  include partial/_main-status
  include partial/_gloup
  //- include partial/_service
  //- include partial/_team
  //- include partial/_news
  //- include partial/_projects
