extends layout/_layout

block append set
  - pageSlogan = "PgaeSlogan"

block append content
  include partial/_index-header
  include partial/_main-status
  include partial/_group

block bottom-content
  include partial/_bottom

block right-content
  include partial/_right-menu
