.index-header {
  position: relative;
  .setting-button, .menu-button {
    position: absolute;
    top: 0;
    margin: 18px;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  .setting-button {
    left: 0;
    background: url("../images/icon-setting.svg") no-repeat center;
    // background-size: contain;
  }
  .menu-button {
    right: 0;
    background: url("../images/icon-menu.svg") no-repeat center;
    // background-size: contain;
  }
  .center {
    padding: 18px;
    font-size: 1.5em;
    text-align: center;
  }
  .time {
    margin-bottom: 36px;
    font-size: 1.0625em;
    text-align: center;
  }
}
