.main-status {
  display: flex;
  flex-direction: column;
  height: 107px;
  overflow: hidden;
  transition: all $default-transit $default-time-function;
  .row {
    margin: 1em auto 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: $max-width;
    &:nth-child(1) {
      margin-top: 0;
    }
    div {
      display: inline-flex;
      align-items: center;
      flex: 1;
    }
    .temperature {
      height: 63px;
      padding-left: 70px;
      background: url("../images/icon-temperature.svg") no-repeat left;
      font-size: 3.375em
    }
    .pm25 {
      height: 63px;
      padding-left: 70px;
      background: url("../images/icon-pm25.svg") no-repeat left;
      font-size: 3.375em;
      span {
        margin-top: 2em;
        font-size: .25em;
      }
    }
    .apparent-temperature {
      flex: 2;
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-apparent-temperature.svg") no-repeat left;
      font-size: 1.25em;
    }
    .rain-probability {
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-rain-probability.svg") no-repeat left;
      font-size: 1.25em;
      span {
        margin-top: .5em;
        font-size: .5em;
      }
    }
    .humidity {
      height: 28px;
      padding-left: 30px;
      background: url("../images/icon-humidity.svg") no-repeat left;
      font-size: 1.25em;
      span {
        margin-top: .5em;
        font-size: .5em;
      }
    }
  }
}
