meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title AirCleanApp

link(rel="icon" href=iconHref type="image/png")
link(rel="stylesheet" type="text/css" href="stylesheet/style.css")
