meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title AirCleanApp

link(rel="stylesheet" type="text/css" href="bower_components/HTML5-Reset/assets/css/reset.css")
link(rel="stylesheet" type="text/css" href="bower_components/HTML5-Reset/assets/css/style.css")
link(rel="stylesheet" type="text/css" href="stylesheet/style.css")
