include ../setup/_set
include ../partial/_component

doctype html
- pageAdd = isPage ? "../" : ""
html
  head
    include ../setup/_head
  body
    .container
      block content
    .bottom-container
      block bottom-content
    .right-container
      block right-content


    //- ========================================= JS
    include ../setup/_js
