include setup/_set
include layout/_component

doctype html
- pageAdd = isPage ? "../" : ""
html
  head
    include setup/_head
  body
    .container.setting
      include partial/_setting-header
      .item.sound 提示音設定
        .item__switch.--on
      .item.push 推播設定
        .item__switch
      .item.timing 裝置定時更新設定
      .item.device 裝置新增/編輯
      .item.import-export 裝置設定與匯入/匯出
      .item.unit 單位設定
      .item.all-on-off 一鍵全體開關功能設定
      .item.help 使用說明

    //- ========================================= JS
    include setup/_js
