include ../setup/_set
include ../layout/_component

doctype html
- pageAdd = isPage ? "../" : ""
html
  head
    include ../setup/_head
  body
    .container
      block content

    
    //- ========================================= JS
    include ../setup/_js
